.text-field {
    padding: 10px 20px;
    // background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #cacaca;
    input {
        width: 85%;
        color: rgb(75, 75, 75);
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: transparent;
        height: 100%;
    }
}
.validation-text {
    font-size: 12px !important;
    margin: 5px 0;
    height: 17px;
    padding-right: 5px;
    color: red;
}
