.register-page {
  padding: 100px 0;
  background: url("../../assets/pattern.png");
  .blue-text {
    color: #337ab7;
    cursor: pointer;
    font-size: 14px;
  }
  .register-container {
    position: relative;
    width: 32%;
    height: 750px;
    .rotate-box {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f8f8f8;
      transform: rotate(-13deg);
      box-shadow: 0 0 5px 2px #cacaca;
      z-index: 1;
      border-radius: 8px;
    }
    .register {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f8f8f8;
      box-shadow: 0 0 5px 2px #cacaca;
      border-radius: 8px;
      z-index: 3;
      p,
      h3 {
        color: #242424;
      }
      p {
        font-size: 14px;
      }
      .register-avatar {
        position: relative;
        border-radius: 100%;
        box-shadow: 0 0 5px 1px #cacaca;
        width: 30%;
        background-color: #fdfdfd;
        img {
          width: 100%;
          padding: 30px 15px;
        }
      }
      .checkBox-container {
        padding: 0 10px;
        margin: 30px 0;
      }
      .checkBox {
        color: #616161;
        margin: 10px 0;
        input {
          border-radius: 8px;
          margin-left: 10px;
          margin-top: 3px;
          align-self: flex-start;
        }
        span {
          font-size: 14px;
          font-family: "IranSanslight";
        }
      }
      .register-btn {
        width: 50%;
        padding: 10px 0;
        background-color: #00bffe;
        border: none;
        color: #f8f8f8;
        border-radius: 8px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .register-page {
    .register-container {
      width: 40%;
    }
  }
}
@media only screen and (max-width: 992px) {
  .register-page {
    .register-container {
      width: 55%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .register-page {
    .register-container {
      width: 70%;
    }
  }
}
@media only screen and (max-width: 576px) {
  .register-page {
    .register-container {
      width: 85%;
      .rotate-box {
        transform: rotate(-5deg);
      }
    }
  }
}

