.checkout {
  padding: 25px 10%;
  .checkout-header {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    .checkout-header-text {
      padding: 0 10%;
    }
    .checkout-title {
      color: #00bffe;
    }
  }
  .address-time {
    width: 71%;
    height: fit-content;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    .payment-method-btn {
      border-radius: 8px;
      border: none;
      border: 1px solid #00bffe;
      background-color: #e9faff;
      transition: 0.4s;
    }
    .payment-method-btn:hover {
      background-color: #29cdff;
    }
    .payment-method-btn:focus {
      background-color: #29cdff;
    }
    .discount-btn {
      font-size: 14px;
      border: none;
      border: 1px solid #009bcf;
      background-color: transparent;
      outline: none;
      color: #009bcf;
      border-radius: 8px;
      padding: 3px 8px;
      transition: 0.4s;
    }
    .discount-btn:hover {
      background-color: #009bcf;
      color: white;
    }
  }
  .payment {
    width: 28%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    height: fit-content;
    p {
      font-size: 14px;
      font-family: "IranSansLight";
      color: rgb(144, 144, 144);
    }
    .payment-btn {
      width: 100%;
      background-color: transparent;
      border: 1px solid #009bcf;
      border-radius: 8px;
      color: #009bcf;
      transition: 0.4s;
    }
    .payment-btn:hover {
      background-color: #009bcf;
      color: white;
    }
    .discount-text {
      font-size: 13px;
      span {
        color: rgb(27, 226, 60);
      }
    }
  }
}
.opacity {
  opacity: 0.5;
}
.active-color {
  color: #00bffe;
}
.active-size {
  font-size: 25px;
}

@media only screen and (max-width: 1300px) {
  .checkout {
    padding: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .checkout-details {
    flex-direction: column;
    gap: 30px;
    .address-time {
      width: 100%;
    }
    .payment {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 850px) {
  .checkout-header-text {
    padding: 0 !important;
  }
  .details-row {
    flex-direction: column;
    gap: 50px;
    .w-res-100 {
      width: 100% !important;
    }
  }
}
