
.profile-image-comment {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(230, 230, 230);
}
.comment-details {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
}
.comment-text {
    font-size: 13px;
}
.comment-date {
    font-size: 15px;
}