.page-header {
  box-shadow: 0 0 5px 2px rgb(233, 233, 233);
  padding: 20px 5%;
  background-color: #fafafa;
  position: sticky;
  top : 0;
  width: 100%;
  z-index: 10;
  .logo {
    font-size: 22px;
    font-weight: bold;
    color: #00bffe;
    cursor: pointer;
  }
}

.profile {
  border-left: 1px solid #666;
  gap: 10px;
  align-items: center;
  .register-btn , .login-btn {
    width: 100px;
    border: 1px solid #666;
    color: #666;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  .login-btn {
    width: 100px;
    border: 1px solid #f8f8f8;
    color: #f8f8f8;
    background-color: #00bffe;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
}
.login-icon {
  border-left: 1px solid #252525;
}
.cart-icon {
  position: relative;
  .cart-length {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 10px;
    color: white;
    background-color: red;
  }
}